<div id="AppContainer"
     class="container-fluid d-flex flex-column">

  <!-- HEADER -->
  <div class="row g-0 flex-shrink-1">
    <div class="col">
      <h1>D&D Symbolic Character Sheet Generator</h1>
      <hr/>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="row g-0 flex-grow-1">

    <!-- CHOICES -->
    <div class="ContentColumn col-3">
      <h2>
        Ability Scores
        <input type="button"
               value="Randomize"
               class="btn btn-secondary"
               (click)="randomizeAbilityScores()"
        />
      </h2>
      <div class="form-floating">
        <input id="strInput"
               [formControl]="strength"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
               step="1"
        />
        <label for="strInput"
               class="form-label">
          Strength ({{convertScoreToModifier(strength.value)}})
        </label>
      </div>
      <div class="form-floating">
        <input id="dexInput"
               [formControl]="dexterity"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
        />
        <label for="dexInput"
               class="form-label">
          Dexterity ({{convertScoreToModifier(dexterity.value)}})
        </label>
      </div>
      <div class="form-floating">
        <input id="conInput"
               [formControl]="constitution"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
        />
        <label for="conInput"
               class="form-label">
          Constitution ({{convertScoreToModifier(constitution.value)}})
        </label>
      </div>
      <div class="form-floating">
        <input id="intInput"
               [formControl]="intelligence"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
        />
        <label for="intInput"
               class="form-label">
          Intelligence ({{convertScoreToModifier(intelligence.value)}})
        </label>
      </div>
      <div class="form-floating">
        <input id="wisInput"
               [formControl]="wisdom"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
        />
        <label for="wisInput"
               class="form-label">
          Wisdom ({{convertScoreToModifier(wisdom.value)}})
        </label>
      </div>
      <div class="form-floating">
        <input id="chaInput"
               [formControl]="charisma"
               class="form-control"
               type="number"
               [max]="MAX_SCORE"
               [min]="MIN_SCORE"
        />
        <label for="chaInput"
               class="form-label">
          Charisma ({{convertScoreToModifier(charisma.value)}})
        </label>
      </div>

      <br/>
      <p>
        Ability scores are currently capped between {{MIN_SCORE}} and {{MAX_SCORE}}.
      </p>
      <hr/>

      <!-- SYMBOL PROPERTIES -->
      <h2>Symbol Properties</h2>
      <div class="form-check form-switch">
        <input id="forceSquareInput"
               [formControl]="forceSquare"
               class="form-check-input"
               type="checkbox"
        />
        <label for="forceSquareInput"
               class="form-check-label">
          Force Square
        </label>
      </div>
      <div class="form-check form-switch">
        <input id="drawBorderInput"
               [formControl]="drawBorder"
               class="form-check-input"
               type="checkbox"
        />
        <label for="drawBorderInput"
               class="form-check-label">
          Draw Border
        </label>
      </div>
      <div class="form-floating">
        <input id="lineWidthInput"
               [formControl]="lineWidth"
               class="form-control"
               type="number"
               max="50"
               min="1"
               step="1"
        />
        <label for="lineWidthInput"
               class="form-label">
          Line Width
        </label>
      </div>
      <br/>
      <p>
        You can right click on the symbol to save as an image! The border will be saved too, so I added the ability to
        disable it if needed.
      </p>
    </div>

    <!-- SYMBOL -->
    <div class="ContentColumn col">
      <div id="MainCanvasContainer">
        <canvas #MainCanvas
                id="MainCanvas">
        </canvas>
      </div>
    </div>

  </div>
</div>
