
#AppContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2em;
}

.ContentColumn {
  margin: 0;
  padding: 1em;
}

#MainCanvasContainer {
  margin: 0;
  width: 100%;
  height: 100%;
}

#MainCanvas {
  margin: 0;
  padding: 0;
}
